.image{
    width: 550px;
    margin-top: 20px;
    align-items: center;
    align-self: center;
    align-content: center;
    margin-left: 25%;
    height: 200px;
}

.container {
    align-items: center;
    justify-content: center;
}
@media (max-width: 770px) {
    .image {
        width: 100%;
        margin-left: 0;
    }

}